@keyframes appear {
  from {
    opacity: 0%;
    scale: 0.5;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}
* {
  padding: 0;
  margin: 0;
}
.animate {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
body {
  height: 100%;
  background-color: #f8f6fb96;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  height: 1.2rem;
  width: 80vw;
  margin: 1.5rem auto 0 auto;
  border-radius: 2.2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 5px 5px 20px #e0cbfb;
  background-color: white;
}
a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2rem;
}
#contact-me {
  color: #480389;
}
/* hero */
.hero {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-family: sans-serif;
  margin-left: 2rem;
  margin-top: 8vh;
  padding-bottom: 10%;

  padding: 3rem;
  border-radius: 10px;
}
p {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}
span {
  color: #54009f;
  font-weight: bolder;
}
img {
  height: 85vh;
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.download-cv {
  margin-top: 1.2rem;
  height: 2.2rem;
  width: 8rem;
  color: white;
  border: none;
  background-image: linear-gradient(90deg, #7137bd, #a266f1);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.download-cv:hover {
  box-shadow: none;
}
.socialmedia-logo {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.socialmedia-logo img {
  height: 1.3rem;
}
.socialmedia-logo:hover {
  cursor: pointer;
}
#small-intro {
  font-size: 1.2rem;
}
.mobile-name {
  font-family: Arial, Helvetica, sans-serif;
  color: #54009f;
  font-weight: bold;
  font-size: 1rem;
  display: none;
}
.hamburger {
  display: none;
  /* border: 1px solid black;
  padding: 0.25rem;
  border-radius: 3px; */
}
.mobile-hero {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 25%;
  display: none;
}
.mobile-hero p {
  line-height: 2.05rem;
}

.mobile-hero-btn {
  display: flex;
  gap: 1rem;
  margin-top: 5px;
}
.contact-info {
  width: 7rem;
  border: 2px solid #7137bd;
  border-radius: 1.5rem;
  font-size: 0.9rem;
}

/*about*/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  margin: 2rem auto;
  padding: 6rem 0;
  background-color: #55009f0d;
  width: 100%;
}
.about div {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
}
.about-image {
  height: 18rem;
  border-radius: 1rem;
}
.about-text {
  height: 16rem;
  width: 30rem;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(26, 26, 26, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 5rem;
}
.about-text h3 {
  margin-bottom: 1rem;
}
.about-text p {
  line-height: 1.2rem;
  font-size: 1rem;
}

.section-header {
  color: #3f3b67;
  border-bottom: 1px solid #8682bc;
  margin-bottom: 1rem;
  width: fit-content;
  font-weight: bold;
}
/* Education */
#education-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.education-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.education {
  height: 14rem;
  width: 14rem;
  background-image: url("./assets/images/purple-gradient.jpg");
  background-size: cover;
  border-radius: 0.85rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.education h2 {
  color: rgba(0, 0, 0, 0.797);
}
.education p {
  font-size: 1.1rem;
}
.section-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/*Skills*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-family: "Poppins", sans-serif;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.693);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #08018fa8;
}
.skills {
  width: 65%;
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #c8abf65c;
  color: white;
}

/* projects */
#project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
  background-color: #55009f0d;
  overflow-x: visible;
}
.project-content {
  height: 20rem;
  width: 25rem;
  border-radius: 0.75rem;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(26, 26, 26, 0.5);
  margin-top: 0.85rem;
}
.project-content p {
  font-size: 1rem;
  padding: 1rem;
}
.project-content img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.projects {
  display: flex;
  gap: 2rem;
  max-width: 80vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.hover-effect {
  cursor: pointer;
  transition: all 0.3s ease;
}
.hover-effect:hover {
  transform: scale(1.04);
}

@media (max-width: 1024px) {
  .hero-text p {
    font-size: 1rem;
  }
  .hero-text span {
    font-size: 1.6rem;
  }
  #myphoto {
    height: 400px;
  }
  #small-intro {
    font-size: 0.8rem;
  }
  .projects h2 {
    font-size: 1rem;
  }

  /*about*/
  .about {
    padding: 3rem 2rem;
    gap: 5rem;
  }
  .about-image {
    height: 12rem;
  }
  .about-text {
    width: 25rem;
  }
}
/*tablet*/
@media (max-width: 768px) {
  .hero-text {
    padding: 2rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-text span {
    font-size: 1.5rem;
  }
  #myphoto {
    height: 370px;
  }
  #small-intro {
    font-size: 0.8rem;
  }
  .hero-text button {
    margin-top: 1rem;
    height: 2rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .about {
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 1.8rem;
  }
  .skills {
    margin-left: 16%;
  }
  .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #education-section {
    padding-left: 5%;
  }
  .project-content {
    height: 17rem;
    width: 22rem;
  }
}

/*mobile*/
@media (max-width: 650px) {
  .hero {
    flex-direction: column-reverse;
    margin-left: 15%;
    gap: 1.2rem;
    height: 100vh;
  }
  nav a {
    display: none;
  }
  .mobile-name {
    font-size: 1.3rem;
    display: inline-block;
  }
  nav {
    height: 2rem;
    border-radius: 0;
    width: 100%;
    margin-top: 0;
    box-shadow: none;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f6fb96;
  }
  .hamburger {
    display: block;
    height: 1.2rem;
  }
  .myname {
    display: none;
  }
  #myphoto {
    display: none;
  }
  .heading {
    font-size: 2rem;
  }
  .hero-text {
    display: none;
  }
  .mobile-hero {
    display: flex;
  }
  #mobile-photo {
    height: 15rem;
    margin-bottom: 2rem;
    border-radius: 50%;
  }
  .download-cv {
    margin-top: 1px;
  }
  .about-text {
    width: 17rem;
    padding: 3.2rem 2rem;
  }
  #education-section {
    padding: 1rem 0;
    padding-left: 7%;
  }
  #project-section {
    padding: 2rem;
    width: 100%;
  }
  .projects {
    width: 100%;
    margin: 0;
  }
  .project-content {
    width: 100%;
    margin: 1rem 0;
    padding-bottom: 1rem;
  }
  .projects h2 {
    font-size: 1.6rem;
  }
}
